:root {
    --neon-color: #db14b0;
}


html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*pode ser transparent também*/
  }
.info h1{
    
    margin: 0;
    font-size: 5rem;
}
.info{
    display: flex;
    flex-direction: column;
    font-family: jose;
    padding-left: 50px;
    color: white;
    padding-top: 30vh;
    margin: 0;
    max-width: 600px;
}
.up{
    position: absolute;
    top: -1.5vh;
    right: 2.3vh;
}
.info p{
    
    font-size: 1.4rem;
}
.botoes{
    display: flex;
    font-size: 1.4rem;
    padding-top: 40px;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #db14b0;
    text-decoration: none;
    width: 170px;
    height: 50px;
    border: 1px solid #f9f9f9;
     border-radius: 4px;
    text-decoration: none;
    background-color: white;
}
.botao:hover{
    background-color: rgba(255, 255, 255, 0.911);
    box-shadow: 0 0 10px var(--neon-color), 0 0 20px var(--neon-color), 0 0 40px var(--neon-color);
}
#botao2{
    color:white;
    background-color: #db14b0;
    border: 1px solid #db14b0;
}
#botao2:hover{
    background-color: #f05fd0;
}
.config{
    opacity: 0.9;
    border: 0.1px solid rgba(255, 255, 255, 0.144);
    display: none;
    height: 25vh;
    width: 20vh;
    background-color:#0c0316;
    top: 8vh;
    right: 4vh;
    position: absolute;
    color: white;
}
.perfil_menu{
    height: 25vh;
    width: 20vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color:#0c0316;
}
.config a{
    color: white;
    text-decoration: none;
}
.config a:hover{
    text-decoration: underline;
}
.config ul li{
    font-size: 0.8rem;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}
.dropdown-menu{
    margin: auto;
    font-family: jose;
    display: none;  
    color: white;
    
}
.dropdown-menu a{
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: white;
}
.logo2{
    margin-top: -8px;
    margin-left: 10px;
}
.logo2 img{
    display: none;
    width: 45px;
    height: 45px;
}
.logo img{
    width: 130px;
    height: 50px;
}
.pequisa{
    display: flex;
    border-radius: 5%;
    padding: 10px;
    background-color: rebeccapurple;
}
.foto{
    color: white;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.foto:hover > .down{
    transform: rotate(180deg);
    transition: 0.2s;
}

#perfil{
    border-radius: 10%;
    width: 38px;
    height: 38px;
    margin-right: 5px;
}
#lado_direito{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.bell{
    display: flex;
    font-size: 30px;
    margin-right: 20px;
    color: white;
}
.search{
    padding: 6px;
    color: white;
}
.search-box{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search-text{
    text-decoration: none;
    color: white;
    font-size: 14px;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    line-height: 30px;
    width: 0;
    transition: .2s;
    border-radius: 50%;
}
.search-btn{
    position: absolute;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;

}


@font-face {
    font-family: jose;
    src: url(../font/NetflixSansRegular.ttf);
    
}
@font-face {
    font-family: bebas;
    src: url(../font/BebasNeue\ Regular.ttf);
    
}
body,ul,li,p{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    background-color: #0c0316;
}

.logo{
    margin-left: 20px;
    font-size: 50px;
    font-family: bebas;
    color: #a323c4;
    text-shadow: 2px 2px 3px rgb(68, 6, 63);
}
nav{
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right,#0c0316 10%,transparent 60%);
    
}
.menu{
    font-family: jose;
    font-size: 15px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    list-style: none;
    
  
    
}
.menu2{
    align-items: center;
    padding-left: 40px;
    list-style: none;
}
.menu2 li{
    padding-left:  20px;

}
.menu a{
    display: block;
    text-decoration: none;
}
.menu2{
    display: flex;
}
.home{
    color: white;
}
.resto{
    color: #e5e5e5;
}
.resto:hover{
    color: grey;
}
.banner{
    background-image:  url(../imgs/fundo1.jpg);
    background-position: right,center;
    background-size: cover;
    border-top: solid 0.1px transparent;  /* corrigir bug do espaço em branco de cima */

}

.movierow{
    margin-left: 55px;
    margin-bottom: 71px;

}
.movierow h2{
    margin-top: 0;
    font-family: jose;
    margin-bottom: 20px;
    color:white ;
    



}
.featured--vertical{
    width: 100%;
    height: 800px;
    background: linear-gradient(to top,#8616a1 5%,transparent 50%);
}
.featured--horizontal{

    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#0c0316 10%,transparent 60%);
}
.featured--info{
    position: 0;
    color: white;
}
.movierow--listarea{
    overflow-x: hidden;

}
.movierow--list{
    width:3000px; /* mais tarde colocar com react para width ser igual a quantidadeDeFilmes da sessao * a largura da img*/

}
.movierow--item{
    
    background-size: cover;
    border-radius: 2%;
    background-color: rgba(224, 75, 217, 0.5);
    width: 286px;
    height: 164px;
    padding: 0;
    display: inline-block;
    
}
.movierow--item img{
    width: 100%;
    height: 100%;
    border-radius: 2%;
}
.list{
    opacity: 0;
}


footer{
    margin-top: 40px;
    color: white;
    text-align: center;
    background-color: #1e0b3d;
    padding: 40px;
    text-shadow: 2px 2px 2px rgb(58, 57, 57);
}
.search-box:hover{
    background-color: #141414;
    border: solid white 1px;
    cursor: pointer;
}
.search-box:hover > .search-text{
    width: 240px;
    border-radius: 0%;
    padding: 0 5px;
}
.teste{
    background-color: rgba(0, 0, 0, 0.63);
}
@media (max-width:424px){
    .featured--vertical{
        background: linear-gradient(to top,#8616a1 0%,transparent 0%);
    }
    .info{

        margin: auto;
        zoom: 55%;
    }
    
    .banner{
        height: 400px;
        background-position: right;
    }
    
    .menu{
        align-items: center;
        padding-left: 0;
        
    }
    .menu2{
        
        padding-left: 0px;
        margin-top: 10px;
    }
    main{
        zoom: 70%;
    }
    .logo{
        margin: 0;
        font-size: 40px;
    }
    .menu2{
        user-select: none;
        opacity: 1;
    }
    .list{
        align-items: center;
        display: flex;
        width: 40px;
        height: 40px;
        color: white;
        opacity: 1;
    }
    .perfil_menu{
        height: 30vh;
    }
}
@media (max-width:778px){

    .search-box:hover > .search-text{
        width: 96px;
        padding: 0 5px;
    }
    nav{
        background-color: #1414143d;
    }
    .dropdown-menu a:hover{
        background-color: #751a8b69;
       
    }
    .dropdown-menu{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dropdown-menu a{
        margin-right: 40px;
    }
    .logo2 img{
        display: flex;
    }
    .logo img{
        display: none;
    }
    .pequisa{
        display: none;
    }
    .movierow{
        margin-left: 10px;;

    }
    nav{
        overflow-x: hidden;
    }
    .logo{
        margin-left: 20px;
    }
    
    .menu2{
        display: none;
    }
    .movierow--item{
        margin-left: 5px;
    }
    .movierow--list{
        
        display: flex;
        
    }
    .movierow--listarea{
        overflow-x: scroll;
    }
}
